<div class="container">
<% provide(:title, "Background") %>
<% provide(:bg, "/assets/test-banner.png") %>
<div class="clear"></div>
<p>
  In its 2015 report, Achieving World-Class Cancer Outcomes, the Independent Cancer Taskforce recommended the development of an integrated cancer dashboard to make better use of data and drive service improvement. NHS England has published the first iteration of the dashboard, which provides users with key information on incidence, survival, quality of life and patient experience for all cancers and some tumour-level data.
</p> 

<p>
  As yet, pancreatic cancer is not available on the dashboard. Shire has developed this pancreatic cancer dashboard to supplement the work of NHS England and provide commissioners, clinicians, providers and patients with a more detailed understanding of the outcomes and experience of people with the disease. 
</p>

<p>
  The pancreatic cancer dashboard allows users to compare pancreatic cancer data against that for other cancers and access data for clinical commissioning groups (CCG) and Strategic Clinical Networks.  We hope that it makes a helpful contribution to all those interested in driving improvements in pancreatic cancer services.
</p>

<div class="clear"></div>
<div class="clear"></div>
  
</div>