<div class="container">
<% provide(:title, "Indicators") %>
<!--% provide(:bg, "/assets/test-banner.jpg") %>-->
<div class="clear"></div>
<p>
 Set out below is the description for the indicators used in the pancreatic cancer dashboard. 
</p>  
<h2>Incidence of pancreatic cancer</h2>
<!---->
<h4>In England, the number of cases of all cancers and pancreatic cancer that were registered in 2014</h4>
<p>
  <b>Definition:</b> <br>
  Registrations of newly diagnosed cases of all cancers and pancreatic cancer‚ England, 2014 
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!---->
<h4>In each CCG, the number of cases of pancreatic cancer that were registered in 2013</h4>
<p>
  <b>Definition:</b> <br>
  Registrations of newly diagnosed cases of pancreatic cancer‚ by CCG, 2013 
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!---->
<h4>Directly age-standardised incidence rates per 100,000 population of newly diagnosed cases of all cancers and pancreatic cancer, England, 2004-2015</h4>
<p>
  <b>Definition:</b> <br>
  Age-standardised incidence rate in England per 100,000 of the population for all cancers and pancreatic cancer 
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!--
-->
<div class="bottom-line"></div>

<h2>Mortality of pancreatic cancer</h2>
<!---->
<h4>In England and Wales, the deaths from pancreatic cancer in 2015</h4>
<p>
  <b>Definition:</b> <br>
  Registrations of death by cause of death, England and Wales, 2015. This is the data for deaths from malignant neoplasms and malignant neoplasm of the pancreas
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!---->
<h4>The deaths from pancreatic cancer in 2014 by CCG</h4>
<p>
  <b>Definition:</b> <br>
  Registrations of death by cause of death, by CCG, 2014. This is the data for deaths from malignant neoplasms and malignant neoplasm of the pancreas 
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!---->
<h4>Directly age-standardised mortality rates per 100,000 population of newly diagnosed cases of cancer, England, 2006 – 2014</h4>
<p>
  <b>Definition:</b> <br>
  Age-standardised mortality rate in England per 100,000 of the population for all cancers and pancreatic cancer, 2006 – 2014 
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!--
-->

<div class="bottom-line"></div>

<h2>Survival</h2>
<!---->
<h4>One year age-standardised net survival for pancreatic cancer and all cancers (2006-2010 to 2009-2013) </h4>
<p>
  <b>Definition:</b> <br>
  The one year age standardised net survival rate for pancreatic cancer as opposed to all cancers (2006-2010 to 2009-2013) 
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!---->
<h4>Five year age-standardised net survival for pancreatic cancer and all cancers (2006-2010 to 2009-2013)</h4>
<p>
  <b>Definition:</b> <br>
  The five year age standardised net survival rate for pancreatic cancer as opposed to all cancers, 2006 – 2010 to 2009 – 2013 
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!--
-->

<div class="bottom-line"></div>

<h2>Diagnosis</h2>

<!---->
<h4>Percentage diagnosed as an emergency in England, 2006-2013, for pancreatic cancer and all cancers</h4>
<p>
  <b>Definition:</b> <br>
  The percentage of people diagnosed with pancreatic cancer and all cancers in England who were diagnosed through an emergency presentation, 2006 – 2013  
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!---->
<h4>Percentage diagnosed as an emergency by Strategic Clinical Network, 2006-2013, for pancreatic cancer</h4>
<p>
  <b>Definition:</b> <br>
  The percentage of people diagnosed with pancreatic cancer by Strategic Clinical Network who were diagnosed through an emergency presentation, 2006 – 2013  
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!---->
<h4>Number of people diagnosed with pancreatic cancer by CCG, 2014 </h4>
<p>
  <b>Definition:</b> <br>
  The number of people diagnosed with pancreatic cancer by CCG at each stage of the illness, 2014
</p>
<p>
  <b>Data source:</b><br>
  Office for National Statistics 
</p>
<!--
-->

<div class="bottom-line"></div>

<h2>Patient Experience</h2>
<!---->

<h4>Waiting times in England for all suspected cancers and upper gastrointestinal cancers </h4>
<p>
  <b>Definition:</b> <br>
  Percentage of people in England for quarter three of 2015/16 with suspected cancer and suspected gastrointestinal cancer who were seen by a specialist within two weeks
</p>
<p>
  <b>Data source:</b><br>
  NHS England
</p>
<!---->
<h4>Waiting times for all suspected cancers and upper gastrointestinal cancers by NHS Trust in England </h4>
<p>
  <b>Definition:</b> <br>
  Percentage of people for quarter three of 2015/16 with suspected cancer and suspected gastrointestinal cancer who were seen by a specialist within two weeks by NHS trust in England  
</p>
<p>
  <b>Data source:</b><br>
  NHS England
</p>
<!---->
<h4>Percentage of patients who felt that the time they had to wait for their last diagnostic test to be done was about right, broken down by region in England, 2015</h4>
<p>
  <b>Definition:</b> <br>
  Percentage of patients who felt that the time they had to wait for their last diagnostic test was about right, broken down by region in England, 2015 
</p>
<p>
  <b>Data source:</b><br>
  National Cancer Patient Survey, Quality Health  
</p>
<!---->
<h4>Percentage of patients who felt that there were always or nearly enough nurses on duty to care for them in hospital broken down by region in England, 2015</h4>
<p>
  <b>Definition:</b> <br>
  Percentage of patients who felt that there were always or nearly enough nurses on duty to care for them in hospital, broken down by region in England, 2015
</p>
<p>
  <b>Data source:</b><br>
  National Cancer Patient Survey, Quality Health  
</p>
<!--
-->

<div class="bottom-line"></div>
</div>
