<% provide(:title, "Indicators") %>
<div class="clear"></div>
<p>
 Set out below is the description for the indicators used in the pancreatic cancer dashboard. 

Incidence of pancreatic cancer 

Indicator: in England, the number of cases of all cancers and pancreatic cancer that were registered in 2014

Definition
Registrations of newly diagnosed cases of all cancers and pancreatic cancer‚ England, 2014
Data source
Office for National Statistics 

Indicator: in each CCG, the number of cases of pancreatic cancer that were registered in 2013

Definition
Registrations of newly diagnosed cases of pancreatic cancer‚ by CCG, 2013
Data source
Office for National Statistics 

Indicator: Directly age-standardised incidence rates per 100,000 population of newly diagnosed cases of all cancers and pancreatic cancer, England, 2004-2015
Definition
Age-standardised incidence rate in England per 100,000 of the population for all cancers and pancreatic cancer
Data source 
Office for National Statistics 

Mortality from pancreatic cancer

Indicator: in England and Wales, the deaths from pancreatic cancer in 2015

Definition:
Registrations of death by cause of death, England and Wales, 2015. This is the data for deaths from malignant neoplasms and malignant neoplasm of the pancreas 
Data source
Office for National Statistics 

Indicator: the deaths from pancreatic cancer in 2014 by CCG 

Definition
Registrations of death by cause of death, by CCG, 2014. This is the data for deaths from malignant neoplasms and malignant neoplasm of the pancreas 
Data source
Office for National Statistics 

Indicator: Directly age-standardised mortality rates per 100,000 population of newly diagnosed cases of cancer, England, 2006 – 2014 

Definition
Age-standardised mortality rate in England per 100,000 of the population for all cancers and pancreatic cancer, 2006 – 2014 
Data source 
Office for National Statistics 

Survival

Indicator: one year age-standardised net survival for pancreatic cancer and all cancers (2006-2010 to 2009-2013) 

Definition
The one year age standardised net survival rate for pancreatic cancer as opposed to all cancers (2006-2010 to 2009-2013) 
 Source
Office for National Statistics 

Indicator: five year age-standardised net survival for pancreatic cancer and all cancers (2006-2010 to 2009-2013)

Definition
The five year age standardised net survival rate for pancreatic cancer as opposed to all cancers, 2006 – 2010 to 2009 – 2013 
 Source
Office for National Statistics 





Diagnosis 

Indicator: percentage diagnosed as an emergency in England, 2006-2013, for pancreatic cancer and all cancers 

Definition 
The percentage of people diagnosed with pancreatic cancer and all cancers in England who were diagnosed through an emergency presentation, 2006 – 2013 
Source 
National Cancer Intelligence Network 

Indicator: percentage diagnosed as an emergency by Strategic Clinical Network, 2006-2013, for pancreatic cancer 

Definition 
The percentage of people diagnosed with pancreatic cancer by Strategic Clinical Network who were diagnosed through an emergency presentation, 2006 – 2013 
Source 
National Cancer Intelligence Network 

Indicator: number of people diagnosed with pancreatic cancer by CCG, 2014 

Definition 
The number of people diagnosed with pancreatic cancer by CCG at each stage of the illness, 2014
Source 
National Cancer Intelligence Network 


Patient experience 

Indicator: waiting times in England for all suspected cancers and upper gastrointestinal cancers 

Description
Percentage of people in England for quarter three of 2015/16 with suspected cancer and suspected gastrointestinal cancer who were seen by a specialist within two weeks 
Source 
NHS England 


Indicator: waiting times for all suspected cancers and upper gastrointestinal cancers by NHS Trust in England 

Description
Percentage of people for quarter three of 2015/16 with suspected cancer and suspected gastrointestinal cancer who were seen by a specialist within two weeks by NHS trust in England  
Source 
NHS England 

Indicator: percentage of patients who felt that the time they had to wait for their last diagnostic test to be done was about right, broken down by region in England, 2015 

Description
Percentage of patients who felt that the time they had to wait for their last diagnostic test was about right, broken down by region in England, 2015 
Source 
National Cancer Patient Survey, Quality Health 

Indicator: percentage of patients who felt that there were always or nearly enough nurses on duty to care for them in hospital broken down by region in England, 2015

Description
Percentage of patients who felt that there were always or nearly enough nurses on duty to care for them in hospital, broken down by region in England, 2015
Source 
National Cancer Patient Survey, Quality Health 

</p>